doctype html
html(lang="en")
  head
    title Mitchell Vitez
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css')
  body
    #wrapper1.wrapper
      #title.container
        .col-md-12
          h1.text-center.title Mitchell Vitez
        .text-center.col-md-offset2.col-md-8.col-md-offset-2
          p
            span.symbol Hacker
            span.symbol Designer
            span.symbol Programmer
            span.symbol Entrepreneur
            span.symbol Ludologist
            span.symbol Student
            span.symbol Reader
            span.symbol Open Sorcerer
            span.symbol Creator
            span.symbol Maker
        .col-md-offset-4.col-md-4.col-md-offset-4
          p.text-center
            a(href="mailto:mitchell@vitez.me")
              img.ext(src="img/email.png")
            a(href="http://github.com/mitchellvitez")
              img.ext(src="img/github.png")
            a(href="http://linkedin.com/in/mitchellvitez")
              img.ext(src="img/linkedin.png")
      .container.rounded
        .col-md-offset-3.col-md-6.col-md-offset-3
          p Hi! My name's Mitchell.
          p I attend the University of Michigan, where I'm an undergraduate in Computer Science.
          p Of course, I'm not really any of those words flashing up there under my name. Not yet. Maybe not ever. But I'm striving to be those. I love learning new things, and have since I was tiny. If you put the phrase &ldquo;learning how to be a&rdquo; before each of those words, you get closer to the truth.
          p Anyways, I've made some things, and you can find most of them scattered around the web. I make videogames and websites. I make apps and little tools. Once I even made a cake. But I digress.
          p Go ahead and poke around the site. If you like what you see, feel free to contact me however you wish.
      br 
      br 
      br 
      br
      .wrapper2
        .container
          .row.col-md-12.text-center
            h2 Around Here
          .col-md-4.col-md-4.col-md-4
            .text-center
              a(href="http://vitez.me/games")
                img.img-circle.icon(src="http://vitez.me/images/games.png")
            h3.text-center Games
            p | Most of my games are absurd little affairs pretending to be what they are not, and made with Unity. I would recommend 
              a(href="http://vitez.me/games/disasteroids/") Disasteroids
              | , a virtual reality hackathon-winning survival game about asteroid mining. Or maybe 
              a(href="http://vitez.me/games/artfuldodger/") Artful Dodger
              | , a game about art theft and sneaking past cameras. For more see 
              a(href="http://vitez.me/games") vitez.me/games
          .col-md-4.col-md-4.col-md-4
            .text-center
              a(href="http://vitez.me/blog")
                img.img-circle.icon(src="http://vitez.me/images/blog.png")
            hg.text-center Blog
            p | I am admittedly not the most active writer. But I try to keep what I do write entertaining. So my blog is full of short little pieces on anything you could imagine&mdash;from goats to algebra. Where could such a place be? You guessed it: 
              a(href="http://vitez.me/blog") vitez.me/blog
          .col-md-4.col-md-4.col-md-4
            .text-center
              a(href="http://vitez.me/resume")
                img.img-circle.icon(src="img/resume.png")
              h3.text-center Resume
              p | Want to build a typographically decent resume for the web really quickly? Try out 
                a(href="https://github.com/mitchellvitez/resume") typographic.css
                | , a resume-focused style. To view my own personal web resume, cruise on over to 
                a(href="http://vitez.me/resume") vitez.me/resume
                | , where you'll also find a copy of my resume as a pdf
    #wrapper3.wrapper
      br
      br
      #jobs.container.rounded
        .col-md-12
          h2.text-center Jobs and Positions
        .row
          .col-md-4.col-md-4.col-md-4
            h3.text-center ENGR 151 Grader
            p Code style grading for an advanced intro to programming class at umich. Reading and evaluating good code, bad code, and everything in between
          .col-md-4.col-md-4.col-md-4
            h3.text-center CSG Webmaster
            p Updates, maintenance, and building new things for the Central Student Government family of websites. Lots of web security work.
          .col-md-4.col-md-4.col-md-4
            h3.text-center Wolverine Cuizine Webmaster
            p I'm on the board of WC as webmaster. I completely redesigned the site and now I make sure it runs well
        .row
          .col-md-4.col-md-4.col-md-4
            h3.text-center S.R. Clarke
            p Made a complete Android app so people could search S.R. Clarke's database of construction management opportunities. Integrated app with existing infrastructure.
          .col-md-4.col-md-4.col-md-4
            h3.text-center Hapsy
            p Android technical lead at a student startup focused on geographical social interactions. Lots of app design and team management involved.
          .col-md-4.col-md-4.col-md-4
            h3.text-center Research
            p I'm an undergraduate in a bioinformatics lab. I use R, python, bash scripting, and some other tools to find correlations in big data sets.
      br
      br
  .container
    .col-md-offset-3.col-md-6.col-md-offset-3
      p.small This site is, and always will be, a work in progress. If you want to find more fast, I have an unbroken chain of links back through iterations of my site. Try 
        a(href="boxes.php") the homepage as it existed just before this one popped into existence
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="js/bootstrap.min.js")
  script(src="js/fade.js")




        

        


